// @todo refactor
// @todo this is awkwardly named because it's based on the old scss system. will refactor to something more sensible

.intro {
  margin: $spacing-7 0 $spacing-5;
  padding-right: $spacing-6;

  .title {
    margin: $spacing-1 0;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .dek {
    margin-bottom: $spacing-4;
  }

  .kicker {
    .channel,
    .sub-channel,
    .rubric {
      text-transform: uppercase;
    }
  }

  .separator {
    margin: $spacing-3 0;
    border: 0;
    background-color: get-color(gray, light);
    height: 1px;
  }
}

.content {
  padding-right: $spacing-6;

  h3 {
    margin: $spacing-6 0 $spacing-1;
  }

  p {
    margin: 0 0 $spacing-6;
  }

  table {
    margin-top: $spacing-3;
    width: 100%;
    border-collapse: collapse;

    th {
      background-color: get-color(gray, light);
      color: get-color(black);
      font-weight: bold;
    }

    td,
    th {
      border: 1px solid get-color(gray, light);
      padding: $spacing-0 $spacing-7 $spacing-0 $spacing-2; // 5px 40px 5px 15px
      text-align: left;
      font-size: 16px;
    }
  }

  ul {
    margin: 0;

    li {
      margin-bottom: 7px;
    }
  }

  .component-link {
    hr {
      border: 1px solid get-color(blue, light);
    }

    label {
      color: get-color(black, light);
    }

    .component-box {
      border: 3px solid get-color(blue, light);

      &:hover {
        background-color: get-color(blue, light);
      }
    }
  }
}
