// @todo refactor
// @todo this is awkwardly named because it's based on the old scss system. will refactor to something more sensible

.template-example {
  background-color: get-color(gray, light);

  .name {
    @include h2();
    width: 100%;
    text-align: center;
  }

  .example {
    margin-bottom: $spacing-10;
    background-color: get-color(white);
    padding: $spacing-5 0;
  }
}

// Individual Component examples. Might break these into sep files
// @todo currently duplicated. refactor
.example .component-intro {

  .rubric {
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .hed {
    margin: 0 0 10px;
    line-height: 1.21;
    letter-spacing: 1px;
    font-size: 48px;
  }

  .dek {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 20px;
  }

  .byline,
  .publish-date {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 14px;
  }

  .lede-image {
    //@extend .col-xs-6; @todo refactor layouts
    margin: 20px 0 9px;

    img {
      max-width: 100%;
    }

    .caption,
    .credit {
      margin-bottom: 5px;
      line-height: 1.15;
      font-size: 13px;
    }

    .caption {
      font-style: italic;
    }

    .credit {
      //color: $nobel;
      color: get-color(gray, light);
    }
  }

}
