////
/// @group Base
////

@if $generate-default-form-table {
  table {
    width: 100%;
  }

  td {
    @include table-cell-defaults();
    vertical-align: baseline;
  }

  th {
    @include table-cell-defaults();
    vertical-align: bottom;
  }

  thead {
    @include thead-defaults($border-color: get-color(grayscale, light));
  }

  tfoot {
    @include tfoot-defaults($border-color: get-color(grayscale, light));
  }

  tbody {
    tr {
      border-bottom: 1px solid get-color(grayscale, light);

      &:nth-of-type(even) {
        background-color: rgba(get-color(grayscale, lightest), 0.5);
      }
    }

    td {
      @include table-cell-borders($border-width: 1px, $border-color: get-color(grayscale, light));

      &:last-of-type {
        border-right: 0;
      }
    }
  }
}
