////
/// @group Forms
////

$generate-default-form-buttons: true !default;
$generate-default-form-check-radio: true !default;
$generate-default-form-inputs: true !default;
$generate-default-form-select: true !default;
$generate-default-form-table: true !default;
$generate-default-form-text-area: true !default;
$generate-default-form-validate: true !default;
