.site-header {
  background-color: get-color(black);
  width: 100%;
  color: get-color(white);

  @include breakpoint($bp--xxxlarge) {
    margin: 0 auto;

    .container {
      min-width: $bp--xxxlarge;
      max-width: $bp--xxxlarge;
    }
  }

  .container {
    padding-left: $spacing-7;
  }

  .expand-menu {
    // @todo refactor this to menu component
    display: inline-block;
    margin-right: 30px;

    @include breakpoint($bp--large) {
      display: none;
    }

    a {
      text-decoration: none;
      line-height: 80px;
      color: get-color(white);
      font-size: 28px;
      font-weight: 700;
    }
  }

  .logo,
  .back-link {
    display: inline-flex;
    height: 80px;
    text-decoration: none;
    line-height: 80px;
    color: get-color(white);
    font-size: 28px;
  }

  .back-link {
    margin-right: 16px;
  }
}

.template-example {
  .site-header {
    background-color: get-color(gray, light);
  }
}
